<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="apple-touch-icon" sizes="180x180" href="img/minilogo.png">
        <link rel="icon" type="image/png" sizes="32x32" href="img/minilogo.png">
        <title> CAT FIT</title>
        <link rel="stylesheet" href="css/stoffice.css">
        <link rel="stylesheet" href="css/style.css">
        <script src="https://kit.fontawesome.com/e33ee0e3a9.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="header">
                <%- include('./partials/nav.ejs') %>

            <div id="header">
                <h1 class="header__title">Личный кабинет</h1>
            </div>
        </div> 

        <article class="about">
            <img src="img/arms.webp" alt="" width="100" class="avatar">
            <div class = "information">           
                <h2> Фамилия: <%= user.surname %> </h2>
                <h2> Имя: <%= user.name %></h2>
                <h2> Номер телефона: <%= user.telephone %></h2>
                <h2> Номер карты: <%= user.card.number %></h2>
                <h2> Баланс карты: <%= user.card.balance %></h2>
                <h2> Дата начала действия карты: <%= user.card.firstDate.getFullYear()%>-<%=user.card.firstDate.getMonth()+1%>-<%=user.card.firstDate.getDate()%></h2> 

                <h2> Дата окончания действия карты: <%= user.card.lastDate.getFullYear()%>-<%=user.card.lastDate.getMonth()+1%>-<%=user.card.lastDate.getDate()%></h2> 
            </div>
            


            <h2 class="plan">Расписание на неделю</h2>
            <% if (sports.length) { %>
            <div class="schedule">
              
                <TABLE BORDER="1" WIDTH=100% BGCOLOR="#CCAA72">
                    <TR BGCOLOR="#C99C52" ALIGN="CENTER">
                     <TH>Понедельник</TH> <TH>Вторник</TH>
                    <TH>Среда</TH><TH>Четверг</TH><TH>Пятница</TH>
                    <TH>Суббота</TH><TH>Воскресенье</TH>
                    </TR>
                    <TD>
                        
                        <% sports.forEach((sport) => { %>
                                     
                            <% if (sport.dayofWeek === "Понедельник") { %>
                            <p> 
                                <%= sport.named_sport.name %>  <br>
                                Тренер: <%= sport.master.name %> <%= sport.master.surname %>  <br>
                                 <%= sport.firstTime.slice(0,5) %> - <%= sport.lastTime.slice(0,5) %> <br>
                                
                            </p>
                            <% } %>
                        <% }) %>
                   
                    </TD>
                    <TD>
                        <% if (sports.length) { %>
                            <% sports.forEach((sport) => { %>
                                         
                                <% if (sport.dayofWeek === "Вторник") { %>
                                <p> 
                                    <%= sport.named_sport.name %>  <br>
                                    Тренер: <%= sport.master.name %> <%= sport.master.surname %>  <br>
                                     <%= sport.firstTime.slice(0,5) %> - <%= sport.lastTime.slice(0,5) %> <br>
                                     
                                </p>
                                <% } %>
                            <% }) %>
                        <% } %> 
                    </TD> <TD>
                        <% if (sports.length) { %>
                            <% sports.forEach((sport) => { %>
                                         
                                <% if (sport.dayofWeek === "Среда") { %>
                                <p> 
                                    <%= sport.named_sport.name %>  <br>
                                    Тренер: <%= sport.master.name %> <%= sport.master.surname %>  <br>
                                     <%= sport.firstTime.slice(0,5) %> - <%= sport.lastTime.slice(0,5) %> <br>
                                     
                                </p>
                                <% } %>
                            <% }) %>
                        <% } %> 
                    </TD> <TD>
                        <% if (sports.length) { %>
                            <% sports.forEach((sport) => { %>
                                         
                                <% if (sport.dayofWeek === "Четверг") { %>
                                <p> 
                                    <%= sport.named_sport.name %>  <br>
                                    Тренер: <%= sport.master.name %> <%= sport.master.surname %>  <br>
                                     <%= sport.firstTime.slice(0,5) %> - <%= sport.lastTime.slice(0,5) %> <br>
                                    
                                </p>
                                <% } %>
                            <% }) %>
                        <% } %> 
                    </TD>
                    <TD>
                        <% if (sports.length) { %>
                            <% sports.forEach((sport) => { %>
                                         
                                <% if (sport.dayofWeek === "Пятница") { %>
                                <p> 
                                    <%= sport.named_sport.name %>  <br>
                                    Тренер: <%= sport.master.name %> <%= sport.master.surname %>  <br>
                                     <%= sport.firstTime.slice(0,5) %> - <%= sport.lastTime.slice(0,5) %> <br>
                                    
                                </p>
                                <% } %>
                            <% }) %>
                        <% } %> 
                    </TD> <TD>
                        <% if (sports.length) { %>
                            <% sports.forEach((sport) => { %>
                                         
                                <% if (sport.dayofWeek === "Суббота") { %>
                                <p> 
                                    <%= sport.named_sport.name %>  <br>
                                    Тренер: <%= sport.master.name %> <%= sport.master.surname %>  <br>
                                     <%= sport.firstTime.slice(0,5) %> - <%= sport.lastTime.slice(0,5) %> <br>
                                  
                                </p>
                                <% } %>
                            <% }) %>
                        <% } %> 
                    </TD> <TD>
                        <% if (sports.length) { %>
                            <% sports.forEach((sport) => { %>
                                         
                                <% if (sport.dayofWeek === "Воскресенье") { %>
                                <p> 
                                    <%= sport.named_sport.name %>  <br>
                                    Тренер: <%= sport.master.name %> <%= sport.master.surname %>  <br>
                                     <%= sport.firstTime.slice(0,5) %> - <%= sport.lastTime.slice(0,5) %> <br>
                                     
                                </p>
                                <% } %>
                            <% }) %>
                        <% } %> 
                    </TD>
                    </TR>
                   
                </TABLE>

               
            </div>
            <% } else { %> 
                <h2  align="center"> Вы не записаны на групповые тренировки </h2>
                <% } %>    
                
            <h2>Записаться на тренировки: <a href="/timetab">расписание</a> </h2>
        </article>
            
        <div class="contacts">
            <footer>
                <%- include('./partials/footer.ejs') %>
            </footer>
        </div>
        
        
        <script src="scripts/office.js"></script>
    </body>
</html>