<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> CAT FIT</title>
    <link rel="apple-touch-icon" sizes="180x180" href="img/minilogo.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/minilogo.png">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/timetab.css">
    <link rel="stylesheet" href="css/stoffice.css">
    <link rel="stylesheet" href="css/team.css">
    <script src="https://kit.fontawesome.com/e33ee0e3a9.js" crossorigin="anonymous"></script>
</head>
<body>

    <div class="header">
        <%- include('./partials/nav.ejs') %>
        <div id="header">
            <h1 class="header__title">Расписание</h1>
        </div>
    </div>
    <div data-modal="modal-buy" class="modal-buy content-hidden">
        <form class="form" method="post" action="/user/buy">
            <h3 class="modal__title">Купить</h3>
            <div class="modal__data">
                <div class="label">
                    <input  type = "hidden" name="idSport" readonly/>
                    <h2 name="info"></h2>
                </div>
                <input type="submit" class="modal__submit" value="Подтвердить">
                <input type="button" data-modal_butt="close-buy" class="close-buy" value="X">
            </div>
        </form>
        <div class="overlay"></div>            
</div>
    <div data-modal="modal0" class="modal content-hidden">
        <form class="form" method="post" action="/user/login">
            <h3 class="modal__title">Вход</h3>
            <div class="modal__data">
                <div class="label">
                    <input id="log" type="login" required="required" name="telephone" autocomplete="on"/>
                    <span>Номер телефона</span>
                </div>
                <div class="label">
                    <input id="pas" type="password" required="required" name="password"/>
                    <span>Пароль</span>
                </div>
                <input type="submit" class="modal__submit" onclick="lk()" value="Продолжить">
                <input type="button" data-modal_butt="modal2" class="modal__close" value="X">
            </div>
        </form>
        <div class="overlay"></div>            
</div>
    
    <div class="block1">
    <article class="about">
        
        <div class="about__timetable">
            <% if (userId){ %>
                <h2> Баланс карты: <%= balance %></h2>
                <% } else{ %>
                    <h2 class="buy-smt"> <a href="/card" >Купите абонемент</a> или войдите в лк, чтобы купить доп.тренировку</h2>
                    <% } %>
            <TABLE BORDER="1" WIDTH=100% BGCOLOR="#CCAA72">
                <TR BGCOLOR="#C99C52" ALIGN="CENTER">
                <TD>Понедельник</TD> <TD>Вторник</TD>
                <TD>Среда</TD><TD>Четверг</TD><TD>Пятница</TD>
                <TD>Суббота</TD><TD>Воскресенье</TD>
                </TR>               
                <TD>
                    <% let ind = 1 %>
                    <% if (trainings.length) { %>
                    <% trainings.forEach((article) => { %>
                        
                                 
                        <% if (article.dayofWeek === "Понедельник") { %>
                        <p> 
                            <p name="text">
                                <%= article.named_sport.name %>  <br>
                            Тренер: <%= article.master.name %> <%= article.master.surname %>  <br>
                             <%= article.firstTime.slice(0,5) %> - <%= article.lastTime.slice(0,5) %> <br>
                              Цена: <%= article.price %>  <br>
                            </p>
                            <% if (userId){ %>
                            <button class="buy" id ="<%= article.id %>"  target="_blank"><span>Купить</span></button> 
                            <% } %>
                        </p>
                        <% } %>
                    <% }) %>
                <% } %> 
                </TD>
                <TD>
                    <% if (trainings.length) { %>
                    <% trainings.forEach((article) => { %>
                                 
                        <% if (article.dayofWeek === "Вторник") { %>
                        <p> 
                            <p name="text">
                                <%= article.named_sport.name %>  <br>
                            Тренер: <%= article.master.name %> <%= article.master.surname %>  <br>
                             <%= article.firstTime.slice(0,5) %> - <%= article.lastTime.slice(0,5) %> <br>
                              Цена: <%= article.price %>  <br>
                            </p>
                            
                            <% if (userId){ %>
                                <button class="buy" id ="<%= article.id %>"  target="_blank"><span>Купить</span></button> 
                                <% } %>
                        </p>
                        <% } %>
                    <% }) %>
                <% } %> 
                </TD>
                <TD>
                    <% if (trainings.length) { %>
                    <% trainings.forEach((article) => { %>
                                 
                        <% if (article.dayofWeek === "Среда") { %>
                        <p> 
                            <p name="text">
                                <%= article.named_sport.name %>  <br>
                            Тренер: <%= article.master.name %> <%= article.master.surname %>  <br>
                             <%= article.firstTime.slice(0,5) %> - <%= article.lastTime.slice(0,5) %> <br>
                              Цена: <%= article.price %>  <br>
                            </p>
                            
                            <% if (userId){ %>
                                <button class="buy" id ="<%= article.id %>"  target="_blank"><span>Купить</span></button> 
                                <% } %>
                        </p>
                        <% } %>
                    <% }) %>
                <% } %> 
                </TD>
                <TD>
                    <% if (trainings.length) { %>
                    <% trainings.forEach((article) => { %>
                                 
                        <% if (article.dayofWeek === "Четверг") { %>
                        <p> 
                            <p name="text">
                            <%= article.named_sport.name %>  <br>
                        Тренер: <%= article.master.name %> <%= article.master.surname %>  <br>
                         <%= article.firstTime.slice(0,5) %> - <%= article.lastTime.slice(0,5) %> <br>
                          Цена: <%= article.price %>  <br>
                        </p>
                        
                        <% if (userId){ %>
                            <button class="buy" id ="<%= article.id %>"  target="_blank"><span>Купить</span></button> 
                            <% } %>
                        </p>
                        <% } %>
                    <% }) %>
                <% } %> 
                </TD>
                <TD>
                    <% if (trainings.length) { %>
                    <% trainings.forEach((article) => { %>
                                 
                        <% if (article.dayofWeek === "Пятница") { %>
                        <p> 
                            <p name="text">
                                <%= article.named_sport.name %>  <br>
                            Тренер: <%= article.master.name %> <%= article.master.surname %>  <br>
                             <%= article.firstTime.slice(0,5) %> - <%= article.lastTime.slice(0,5) %> <br>
                              Цена: <%= article.price %>  <br>
                            </p>
                            
                            <% if (userId){ %>
                                <button class="buy" id ="<%= article.id %>"  target="_blank"><span>Купить</span></button> 
                                <% } %> 
                        </p>
                        <% } %>
                    <% }) %>
                <% } %> 
                </TD>
                <TD>
                    <% if (trainings.length) { %>
                    <% trainings.forEach((article) => { %>
                                 
                        <% if (article.dayofWeek === "Суббота") { %>
                        <p> 
                            <p name="text">
                                <%= article.named_sport.name %>  <br>
                            Тренер: <%= article.master.name %> <%= article.master.surname %>  <br>
                             <%= article.firstTime.slice(0,5) %> - <%= article.lastTime.slice(0,5) %> <br>
                              Цена: <%= article.price %>  <br>
                            </p>
                            
                            <% if (userId){ %>
                                <button class="buy" id ="<%= article.id %>"  target="_blank"><span>Купить</span></button> 
                                <% } %>
                        </p>
                        <% } %>
                    <% }) %>
                <% } %> 
                </TD>
                <TD>
                    <% if (trainings.length) { %>
                    <% trainings.forEach((article) => { %>
                                 
                        <% if (article.dayofWeek === "Воскресенье") { %>
                        <p> 
                            <p name="text">
                                <%= article.named_sport.name %>  <br>
                            Тренер: <%= article.master.name %> <%= article.master.surname %>  <br>
                             <%= article.firstTime.slice(0,5) %> - <%= article.lastTime.slice(0,5) %> <br>
                              Цена: <%= article.price %>  <br>
                            </p>
                            
                            <% if (userId){ %>
                                <button class="buy" id ="<%= article.id %>"  target="_blank"><span>Купить</span></button> 
                                <% } %> 
                        </p>
                        <% } %>
                    <% }) %>
                <% } %> 
                </TD>
                

                </TABLE>
        </div>
        <div>
            <h1>Групповые программы</h1>
            
                    <p>
                        Групповые программы позволяют достичь любых тренировочных целей, созданы на 
                        основе современных методик и подходят для различного уровня подготовленности.
                        Найдите свой вид групповых занятий и убедитесь, что возможности фитнеса поистине
                         безграничны! Наш Фитнес Клуб отличается своими праКОТическими тренировками :
                    </p>
                    <table width="100%" cellspacing="0" cellpadding="0">
                        <tr> 
                         <td><img  class="leftcol" src="img/yoga1.jpg" width="200" height="300">
                         </td>
                         <td valign="top">
                    <h1>YOGA</h1>
                    <p>
                        Древняя восточная практика, в основе которой лежит работа с телом и духом в равной мере. 
                        Практика состоит из асан различного уровня сложности (для новичков доступны упрощенные варианты трудных поз),
                         обучения правильному глубокому дыханию и тренировки фокуса внимания на прорабатываемых зонах тела. 
                         Снятие стресса и нервного напряжение станут естественным следствием занятия йогой. 
                         Даже выполняя асаны с позиции новичка, вы увидите пользу йоги: укрепление мышц, тренировка воли и внимания
                          к телу, повышение гибкости, тренировка сердечно-сосудистой системы, укрепление иммунитета, 
                          повышение уверенности. 
                    </p>
                </td>
            </tr>
           </table>
           <table width="100%" cellspacing="0" cellpadding="0">
            <tr> 
             <td><img  class="leftcol" src="img/Cycle.jpg" width="200" height="300">
             </td>
             <td valign="top">
                    <h1>CYCLE</h1>
                    <p>
                        Имитация групповой шоссейной гонки в виде интервальной тренировки на тренажерах, имитирующих спортивный 
                        велосипед. Цель урока -развитие общей аэробной выносливости, улучшение работы дыхательной и 
                        сердечно – сосудистой систем. Нагрузка средней и высокой интенсивности. 
                    </p>
                </td>
            </tr>
           </table>
     
        <table width="100%" cellspacing="0" cellpadding="0">
         <tr> 
          <td><img  class="leftcol" src="img/GP.jpg" width="200" height="300">
          </td>
          <td valign="top">
                   
                    <h1>HULA</h1>
                    <p>
                        Во время занятий с обручем происходит укрепление мышц живота. Благодаря тактильному 
                        типу воздействия тренажера выполняется как внутренняя, так и внешняя работа. Внешняя работа схожа с эффектом 
                        массажа и компрессии мышц. Такой тип воздействия включает и ускоряет процесс жиросжигания.
                    </p>
                </td>
            </tr>
           </table>
       
                   </div> 
        </article>
    </div>
    
    
        <footer class="contacts">
            <%- include('./partials/footer.ejs') %>
        </footer>
        
        <script src="scripts/main.js"></script>
        <script src="scripts/timetabe.js"></script>

    </body>
    </html>